@charset "UTF-8";

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Box sizing reset */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Image 100% width */

img {
    width: 100%;
    height: auto;
}

/*--------------- END OF RESETS ------------*/

/* Typography */

body {
	font-family: 'Karla', sans-serif;
	text-align: center;
	line-height: 1.5;
}

h1,
h2,
.button {
	font-family: 'Lato', sans-serif;
	font-weight: bold;
	letter-spacing: 0.15em;
}

h1 {
	font-size: 1.5em;
	margin-bottom: 1em;
}

h2,
.button {
	font-size: 1.125em;
	text-transform: uppercase;
	color: #444;
	margin-bottom: 0.8em;
}

p {
	font-size: 0.875em;
}

a,
a:hover,
a:active {
	text-decoration: none;
	cursor: pointer;
}

a {
	color: black;
	font-weight: bold;
}

a:hover,
a:active,
a:focus {
	color: grey;
}

/* Elements */

.button,
.button:visited {
	display: inline-block;
	padding: 1em 2em;
	margin: 2.5em 0 0;
	border: 1px solid #444;
	background-color: white;
	font-size: 1em;
	text-transform: uppercase;
}

.button:hover,
.button:active,
.button:focus {
	background-color: #EFEFEF;
}

/* Nav */

.main-nav {
	display: block;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	transition: 0.5 ease;
	z-index: 1000;
	display: none;
}

nav ul {
	list-style-type: none;
	padding-left: 0;
	background-color: #FFD251;
	height: 100vh;
}

nav li a {
	display: block;
	width: 100%;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 0.3em;
	padding: 0.5em 0;

}

nav li:first-of-type a {
	padding-top: 70px;
}

/* Hamburger */

.hamburger{
	position: absolute;
	width: 40px;
	height: 40px;
	top: 15px;
	left: 15px;
	z-index: 9999;
}

.hamburger:hover {
	cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
	height: 4px;
	width: 40px;
	border-radius: 5px;
}

.bar {
	background-color: #444;
	position: relative;
	top: 13px;
}

.bar:before {
	content: "";
	position: absolute;
	left: 0;
	bottom: 13px;
	background-color: #444;
}

.bar:after {
	content: "";
	position: absolute;
	left: 0;
	top: 13px;
	background-color: #444;
}

.bar, .bar:before, .bar:after {
  transition: all 500ms ease-in-out;
}

.active .bar {
  background-color: transparent;
}

.active .bar:before, .active .bar:after {
  top: 0;
}

.active .bar:before {
  transform: rotate(45deg);
  background-color: white;
}

.active .bar:after {
  transform: rotate(-45deg);
  background-color: white;
}


/* Layout */

section {
	margin-bottom: 2.5em;
	padding: 0 1.5em;
}

article {
	margin-bottom: 2em;
}

.hero {
	height: 35em;
	padding: 0;
}

.col-sm {
	margin: 2.5em auto;
	width: 17.5em;
	height: 13.750em;
}

.col-sm img {
	width: 100%;
	height: auto;
}

/* Front page */

.home .hero {
	background-color: #f9f3e9;
}
.about-blurb {
	padding: 4em 1.5em 3.5em;
	background-color: white;
	position: relative;
	top: 50%;
	transform: translate(0, -50%);
}

.col-sm a {
	border: none;
}

.project-thumbnail {
	border: 1px solid lightgrey;
	width: 300px;
}

.project-thumbnail:hover,
.project-thumbnail:active,
.project-thumbnail:focus {
	opacity: 0.5;
}

/* Project Single page */

.single .hero {
	height: 14.5em;
}

.process {
	background-color: #FCFAF5;
	padding: 2.5em 1.5em;
}


/* About page */

.profile-pic {
	background-color: grey;
	width: 10em;
	height: 10em;
	margin: 0 auto;
}

/* Footer */

footer {
	height: 18em;
	background-color: #313131;
	position: relative;
	padding-top: 4em;
	margin: 0;
}

footer h1,
footer h2 {
	color: white;
}

footer h1 {
	margin-bottom: 0;
}

footer h2 {
	font-size: 0.875em;
	letter-spacing: 0.3em;
}

footer p {
	font-size: 1.1em;
	letter-spacing: 0.1em;
	color: #FFD251;
	margin-top: 3em;
}

footer a,
footer a:visited {
	color: #FFD251;
}

footer a:hover,
footer a:focus,
footer a:active {
	color: white;
}


.social {
	width: 100%;
	position: absolute;
	bottom: 3em;
	left: 50%;
	transform: translate(-50%, 0);
}

.fa {
	margin: 0 0.5em;
}







